@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto);
}
body {
    background-color: #fff;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
.clear-both {
    clear: both;
}
a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.navigation{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    margin-top: 30px;
    position: absolute;
}
.navigation .navigation-conten{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.navigation .logo a{
     font-size: 25px;
}
.navigation .menu{
    display: flex;
    margin-top: 10px;
}
.navigation .icon{
    display: none;
}
.navigation .menu .menu-left ul{
        display: flex;
        margin: 0px;
}
.navigation .menu .menu-left ul li{
    margin-right: 40px;
}
.navigation .menu .menu-left ul li a{
    color: #888;
}
.navigation .menu .menu-right a:first-child {
    border-left: 1px solid #fff;
    color: #888 !important;
    padding: 7px 30px;
}
.navigation .menu .menu-right .link-register {
    border: 1px solid #fff;
    padding: 7px 20px;
    border-radius: 5px;
}
.banner .form-seach{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 55%;
}
.banner .form-seach i{
position: absolute;
    top: 17px;
    right: 10px;
    font-size: 13px;
    color: #a79595;
}
.banner .form-seach h3{
    color: #fff;
    font-size: 37px;
    font-weight: 100;
    margin: 0px;
}
.banner .form-seach p{
    color: white;
    font-size: 15px;
}
.banner .form-seach .form-group-list {
        display: flex;
    justify-content: center;
    width: 80%;
    height: 50px;
    border-radius: 5px;
        background-color: white;
}
.banner .form-seach .form-group input{
    border: none;
    color: #333;
    font-size: 15px;
    outline: 0;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.banner .form-seach .form-seach1{
        width: 50%;
        position: relative;
}
.banner .form-seach form{
        margin-top: 60px;
    display: flex;
    justify-content: center;
}

.banner .form-seach .form-location{
    width: 28%;
    border-right: 1px solid #333;
    position: relative;
    border-left: 1px solid #333;
}
.banner .form-seach .form-location span{
    position: absolute;
    top: 16px;
    left: 10px;
    color: #333;
}
.banner .form-seach .form-button{
    width: 23%;
    position: relative;
}
.banner .form-seach .form-button button{
    padding: 8px 0px;
    background-color: #42a5f4;
    display: flex;
    border-radius: 5px;
    border: none;
    width: 85%;
    height: 65%;
    justify-content: center;
    color: #fff;
    cursor: pointer;
        margin: 9px auto;
            justify-content: center;
    }
.banner .learn-more{
    position: absolute;
    margin-top: 25%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
    background-image: url(../img/banner-top.jpg);
}
.content-top{
    width: 100%;
    border-bottom: 1px solid #d8c6c6;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-top .main-menu ul{
        display: flex;
    justify-content: space-between;
}
.content-top ul li{
    margin: 25px 0px;
    padding: 0 30px;
    position: relative;
    text-align: center;
}
.content-top a{
    color: #9e7a7a;
}
.content-top .main-menu ul li a:before {
    content: ".";
    font-size: 30px;
    top: -18px;
    color: #616181;
    position: absolute;
    right: -7px;
}
.content-top .main-menu  ul li:last-of-type a:before {
    content: "";
}
.content-top .main-menu .button-cate{
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
}
.container{
    width: 1170px;
    text-align: center;
    margin: 0 auto;
}
.about{
        margin-top: 80px;
        padding: 0px 18%;
}
.title h3{
    color: #888;
    font-size: 30px;
    font-weight: 100;
}
.title p{
    color: #888;
    line-height: 30px;
    margin-top: 25px;
}
.blog{
    display: flex;
    margin-top: 80px;
    height: 500px;
}
.blog .blog-conten{
    width: 50%;
    background-color: #42a5f4;
}
.blog .blog-video{
    width: 50%;
    position: relative;
}
.blog .blog-conten .title{
margin-left: 255px;
    margin-right: 80px;
    text-align: left;
    margin-top: 60px;
    color: white;
}

.blog .blog-conten .title h3,p{
    color: #fff;
}
.blog .blog-conten .title p{
    color: #fff;
}
.blog .blog-conten .title .view-more{
    position: relative;
}
.blog .blog-conten .title a{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    position: absolute;
    color: white;
}
.blog-video img:not(:last-child){
    width: 100%;
    height: 100%;
}
.blog-video .iconplay{
    position: absolute;
    top: 35%;
    right: 45%;
}


.job-offer{
    margin-top: 100px;
    margin-bottom: 200px;
}
.title{
    text-align: center;
}
.box-group{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.box-group .box-conten{
        margin: 0px 15px;
    border: 1px solid black;
    height: 280px;
    border-radius: 5px;
    width: 33.3%;
        opacity: 0.5;
        padding: 15px;
}
.box-group .box-conten .box-icon{
    display: flex;
}
.box-group .box-conten .box-icon img{
        width: 110px;
    height: 70px;
}
.box-group .box-conten .box-title{
    text-align: left;
    margin-left: 25px;
}
.box-conten .box-icon a{
color: blue;
}
.box-conten .box-title a{
color: blue;
}
.box-icon .icon-text {
    line-height: 10px;
    text-align: left;
}

.box-group .box-conten:hover,.box-conten:active{
    opacity: 1.5;
    transition: 0.4s;
}



.banner-2{
    width: 100%;
    background-image: url(../img/banner-bottom.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
    height: 400px;
}

.banner-2 .banner-conten{
    position: absolute;
    width: 40%;
    right: 15%;
        margin-top: 50px;
}
.banner-2 .banner-conten .icon-top{
    font-size: 50px;
    text-align: left;
}
.banner-2 .banner-conten .title{
    margin-top: 10px;
    text-align: left;
}
.banner-2 .banner-conten .title p{
    color: white;
        font-size: 17px;
}
.banner-2 .banner-conten .icon-bottom{
    height: 60px;
    float: right;
    display: flex;
    margin-top: 50px;
}
.banner-2 .banner-conten .icon-bottom .icon-text2 {
    margin-left: 25px;
    margin-top: -10px;
    text-align: left;
    color: white;
    line-height: 5px;
}
footer{
    background: #404040;
    padding: 55px 0;
    color:#fff;
    position: relative;
}
.img-top-footer{
    background-image: url(../img/footer.png);
    position: absolute;
    width: 100%;
    top: 0px;
    height: 5px;
}
.footer{
    margin-top: 100px;
}
.footer .ft-sub{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.footer .ft-sub .sub-text p{
    color: #888;
    margin-top: 30px;
    line-height: 20px;
    letter-spacing: 1px;

}
.footer .ft-sub .sub-text h3{
    font-size: 30px;
    font-weight: 100;
}
.footer .ft-sub .mail-sub{
    width: 50%;
    display: flex;
    height: 35px;
    position: relative;
    margin: 50px auto;
}
.footer .ft-sub .mail-sub input{
    color: #333;
    font-size: 15px;
    outline: 0;
    height: 100%;
    border: 1px solid #c3b9b9;
    width: 100%;
    border-radius: 5px;
        text-indent: 15px;
}
.footer .ft-sub .mail-sub button{
    background-color: #42a5f4;
    padding: 10px 20px;
    margin: 0px;
    border-radius: 5px;
    position: absolute;
        right: 0px;
        border: none;
        cursor: pointer;
}
.footer .ft-bt{
    margin-top: 50px;
    grid-column: span 12;
    border-top: 1px solid #a49494;;
    display: flex;
}
.footer .ft-bt p{
    color: #888;
}
.footer .ft-bt .bt-right{
    flex-grow: 1;
    text-align: center;
    margin: 20px;
}
.footer .ft-bt .bt-left{
    flex-grow: 1;
    text-align: center;
    margin: 20px;
}
.sidebar-wrapper-mb{
    display: none;
}
.sidebar-overlay-mb{
    display: none;
}